.movie-card { border: 1px solid #333; padding: 10px; border-radius: 8px; margin: 10px; }
.watch-btn {
    display: block;
    background: #FFD700;
    color: #000;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
    font-weight: bold;
}

.search-section {
  text-align: center;
  margin: 20px;
}

.search-section input {
  padding: 12px;
  width: 70%;
  border: none;
  border-radius: 8px;
}

.search-section button {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.video-section {
    margin-bottom: 40px;
}

video {
    border-radius: 15px;
    background: black;
}

#movieTitle {
    margin-top: 20px;
}

#movieOverview {
    margin-top: 15px;
    line-height: 1.8;
}
